body { 
    color: #222;
    font-family: arial, helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.3;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    color: #006a84;
}

header {
    background-image: url(../afbeeldingen/bureau.jpg);
    background-size: cover;
    padding: 9em .5em 0.2em .5em;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #222;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.58);
}

nav p.menuknop  {
    font-family: courier, monospace;
    font-size: 28px;
    padding-right: 4px;
    text-align: right;
    margin: 0;
}

nav ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    border-top: 1px solid darkgrey;
    padding: .7em .4em .6em .4em;
}

nav a {
    color: white;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #4699ab;
}

nav ul li.submenu {
    position: relative;
}

nav ul li.submenu > a:after {
    content: " \025BE";
}

nav ul li.submenu:hover ul {
    box-sizing: border-box;
    background-color: #4699ab;
    display: block;
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
}

nav li li:first-child {
    border-top: none;
}

nav li li a:hover {
    color: lightgrey;
}

article {
    padding: 1em;
}

article h1 {
    font-size: 1.8em;
}

article h2 {
    font-size: 1.4em;
    margin-top: 1.5em;
}

aside {
    background-color: #c8cad6;
    padding: 1em 1em 2em 1em;
    text-align: center;
}

footer {
    background-color: #006a84;
    color: white;
    font-size: .9em;
    padding: 2em;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

img.rechts, img.links {
    box-sizing: border-box;
    display: block;
    margin: 0.5em auto;
    max-width: 100%;
}

@media screen and (min-width: 500px) {

    header {
        padding: 13em .5em 0.2em .5em;

    }
    nav p.menuknop {
        display: none;
    }
    
    nav > ul {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    nav ul li.submenu:hover ul {
        width: 8em;
        left: 0;
        top: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        border-top: 1px solid darkgrey;
    }

    nav > ul > li {
        border-top: none;
    }

   
    img.rechts {
        float: right;
        margin: 0.4em 0 0.4em .8em;
    }

    img.links {
        float: left;
        margin: 0.4em .8em 0.4em 0;
    }

}

@media screen and (min-width: 700px) {
    header {
        padding: 16em .5em 0.2em .5em;
    }
    header h1 {
        font-size: 2.5em;
    }
    nav ul li {
         padding: 1em .4em .9em .4em;
    }
    .art-aside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    aside {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 22%;
        flex: 0 0 22%;
        font-size: .9em;
        background-color: transparent;
        margin-top: 1em;
    }
}

@media screen and (min-width: 850px) {
    header {
        padding: 18.5em .5em 0.2em .5em;
    }
    header h1 {
        font-size: 3em;
    }
}

@media screen and (min-width: 1000px) {
    header {
        padding: 22em .5em 0.2em .5em;
    }
    header h1 {
        font-size: 3.5em;
    }
     nav > ul {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    nav > ul > li {
        margin: 0 .7em;
    }
    div.art-aside {
        max-width: 1000px;
        margin: 0 auto;
    }
}
    
@media screen and (min-width: 1200px) {
         header {
            height: 80vh;
            padding: .5em;
        }
           header h1 {
               position: relative;
               top: 12vh;
               font-size: 4em;
            }
}